*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: #fffcf2;
  line-height: 1.6;
  font-family: "Ubuntu", sans-serif;
  /* font-size: 15px; */
  -webkit-font-smoothing: antialiased;
}
