@import './base.css';

#app {
  max-width: 1280px;
  width: 100dvw;
  height: 100dvh;
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
  color: #403d39;
}

a {
  text-decoration: none;
  color: #403d39;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: #eb5e28;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    flex-direction: column;
  }
}
